[Unit]
Description=cloudflared tunnel
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/cloudflared tunnel run <TUNNEL-NAME>
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
